{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "browsers": ["last 2 versions", "safari 7"]
        },
        "modules": "commonjs"
      }
    ]
  ]
}